@using Lab21.Models
@{
    ViewBag.Title = "Submission";
}

<h2>Submission</h2>
@{
    Registration r = ViewBag.Registration;
}


Name: @r.FirstName @r.LastName <br />
Address: @r.Address<br />
Email: @r.Email<br />
Phone number: @r.PhoneNumber<br />


